<div class="aside__section1">
  <div class="aside__image-container">
    <img class="aside__img"src="" alt="">
  </div>
  <div class="description">
    <h3 class="description__title">
      Nombre de la persona
    </h3>
    <p class="aside__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi cumque beatae maxime voluptates fuga, quam facilis ullam nam laudantium ducimus optio sint consequuntur tempora provident aspernatur! Iste dolores nisi incidunt!
    </p>
  </div>

</div>
<div class="aside__section2">
  <div class="link__section1 link__section">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quidem error </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quidem error </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quidem error </p>
  </div>
  <div class="link__section2 link__section">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quidem error </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quidem error </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quidem error </p>
    </div>

</div>
