<main class="page__main">
<article class="article article1">
  <h2 class="article__title">
    Articulo 1
  </h2>
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus animi fugit cupiditate corporis maiores, fugiat, mollitia ea excepturi quod id repellat ipsa laudantium explicabo, assumenda quia eos. Debitis saepe earum ex dolore exercitationem doloribus quia quae aut explicabo? Id ipsa corporis est laborum reiciendis sequi libero deserunt suscipit architecto.
  </p>
</article>
<article class="article article2">
    <h2 class="article__title">
        Articulo 2
    </h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus animi fugit cupiditate corporis maiores, fugiat, mollitia ea excepturi quod id repellat ipsa laudantium explicabo, assumenda quia eos. Debitis saepe earum ex dolore exercitationem doloribus quia quae aut explicabo? Id ipsa corporis est laborum reiciendis sequi libero deserunt suscipit architecto.
    </p>
  </article>
  <article class="article article3">
      <h2 class="article__title">
          Articulo 3
      </h2>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus animi fugit cupiditate corporis maiores, fugiat, mollitia ea excepturi quod id repellat ipsa laudantium explicabo, assumenda quia eos. Debitis saepe earum ex dolore exercitationem doloribus quia quae aut explicabo? Id ipsa corporis est laborum reiciendis sequi libero deserunt suscipit architecto.
      </p>
    </article>

</main>
