<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ejercicio Repaso</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <div class="page__section">
        <div class="page__section1">
          <partial src="_header.html" label="Header"></partial>
          <partial src="_main.html" label="Main"></partial>
        </div>
        <partial src="_aside.html" label="Aside"></partial>
      </div>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>
