.page__header{
  padding:35px;
  text-align: center;
}
.header__title{
  margin: 15px auto 0;
}
.title{
  font-size:$font-xl;
  color: $color-secondary;
}
@media all and (min-width:768px){
  .page__section{
    display:flex;
    min-height: calc(100vh - 100px);
  }
}
